extends ./layout

block content
    section.post
      .container
        .row
          .col-lg-8.col-lg-offset-2
            h2.section-heading.text-center #{post.title}
            img(src="/static/img/author2.jpg" style="max-width: 100px; max-height: 100px; border-radius: 100%").img-responsive.pull-right
            h4.author by Adam Bodie     
            p #{post.date}
            hr.light
            .article
              - for (var x = 0; x < post.description.length; x++)
                - var y = x / 3       
                  if post.description[x].paragraph !== undefined
                    p #{post.description[x].paragraph}
                    if x % 3 === 0
                       if y < post.image.length
                         if y % 2 === 1	
                           img(src="#{post.image[y].name}" data-toggle="tooltip" title="#{post.image[y].caption}").image.block.img-responsive.pull-right                                           
                         else
                           img(src="#{post.image[y].name}" data-toggle="tooltip" title="#{post.image[y].caption}").image.block.img-responsive            
            a(href="/blog").back Back

